{% extends 'gabarit.twig' %}

{% block title %}<h1>Bienvenue sur le site de MMI</h1>{% endblock %}

{% block content %}
<div class="alert alert-success">
    Bienvenue sur le site de MMI
</div>
{% endblock %}